/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COLORS PALETTE */
:root{
    --color-primary:#9792e4;
    --color-secondary:#0084fd;
    --color-light:#ffffff;
    --color-dark-text:#516372;
    --color-footer:#333333;
    --color-itsfree:#fdc15f;
}
/* UTILITIES */
.px-10{
    padding: 0px 10px;
}
.py-10{
    padding: 10px 0px;
}
.pd-10{
    padding: 10px;
}
/* FLEX UTILITIES */
.d-flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* HEADER */
nav{
    background-color: var(--color-secondary);
}